a:focus,
a:hover,
.NC-MediaObject .NC-MediaObject-contents:focus .NC-MediaObjectTitle,
.NicorepoItem-item a:focus .NicorepoItem-contentDetailTitle,
.NicorepoItem-item:hover a .NicorepoItem-contentDetailTitle {
  color: #0080ff !important;
}

a:visited,
.NC-MediaObject .NC-MediaObject-contents:visited .NC-MediaObjectTitle,
.NicorepoItem-item a:visited .NicorepoItem-contentDetailTitle {
  color: #BF00BF !important;
}

a:focus:visited,
a:hover:visited,
.NC-MediaObject .NC-MediaObject-contents:focus:visited .NC-MediaObjectTitle,
.NC-MediaObject .NC-MediaObject-contents:hover:visited .NC-MediaObjectTitle,
.NicorepoItem-item a:focus:visited .NicorepoItem-contentDetailTitle,
.NicorepoItem-item:hover a:visited .NicorepoItem-contentDetailTitle {
  color: #FF7FFF !important;
}

.SeekBar-buffered {
  background-color: #FFFFFF !important;
}

body {
  font-family: Avenir, Lato, -apple-system, BlinkMacSystemFont, Helvetica Neue, Hiragino Kaku Gothic ProN, 'Noto Sans CJK JP', Meiryo, メイリオ, sans-serif !important;
}

.VideoDescriptionSeriesContainer-itemTitle {
  height: 1.25em;
}

.VideoDescriptionSeriesContainer-watchPageLink+.VideoDescriptionSeriesContainer-watchPageLink,
.VideoDescriptionSeriesContainer-body {
  margin-top: 0.5em;
}