a:focus,
a:hover,
.NC-MediaObject .NC-MediaObject-contents:focus .NC-MediaObjectTitle,
.TimelineItem-content a:focus .TimelineItem-contentTitle,
.TimelineItem-content:hover a .TimelineItem-contentTitle {
  color: #0080ff !important;
}

a:visited,
.NC-MediaObject .NC-MediaObject-contents:visited .NC-MediaObjectTitle,
.TimelineItem-content a:visited .TimelineItem-contentTitle {
  color: #BF00BF !important;
}

a:focus:visited,
a:hover:visited,
.NC-MediaObject .NC-MediaObject-contents:focus:visited .NC-MediaObjectTitle,
.NC-MediaObject .NC-MediaObject-contents:hover:visited .NC-MediaObjectTitle,
.TimelineItem-content a:focus:visited .TimelineItem-contentTitle,
.TimelineItem-content:hover a:visited .TimelineItem-contentTitle {
  color: #FF7FFF !important;
}

body {
  font-family: sans-serif !important;
}
