.aspect_auto {
  border-radius: unset !important;
}

header.d_flex:nth-child(2) {
  position: static !important;
}

div.pos_relative.bg_monotone\.L0.aspect_16\:9.w_100\%>div.pos_absolute.inset_0:nth-child(4).bg_transparentGray\.A20 {
  display: none;
}

div.d_flex.flex-wrap_nowrap.min-w_\[min-content\].max-w_\[min-content\]>button[data-element-params="{\"current\":true}"]:first-child>svg.w_font.h_font {
  fill: #ed7372;
}

/* .cursor_inherit.ring_none,
.click-disabled {
  pointer-events: none;
} */
